In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SQL').getOrCreate()

In [37]:
from pyspark.sql.functions import col

In [6]:
columns =  ['empId', 'name',  'supervisor' , 'salary']
data = [
    ( 3, 'Brad'   , None  , 4000),
( 1, 'John'   , 3, 1000),
( 2, 'Dan'    , 3, 2000),
( 4, 'Thomas' , 3, 4000)
]

employee = spark.createDataFrame(data,columns)
employee.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

In [35]:
data = [(2,500),(4,1000)]
col = ['empID','Bonus']

bonus = spark.createDataFrame(data,col)
bonus.show()

+-----+-----+
|empID|Bonus|
+-----+-----+
|    2|  500|
|    4| 1000|
+-----+-----+

In [38]:
bonus_emp = employee.join(bonus,on = 'empID',how = 'left').filter((col('bonus') < 1000) | (col('bonus').isNull())).orderBy('empID')

In [39]:
bonus_emp.show()

+-----+----+----------+------+-----+
|empId|name|supervisor|salary|Bonus|
+-----+----+----------+------+-----+
|    1|John|         3|  1000| NULL|
|    2| Dan|         3|  2000|  500|
|    3|Brad|      NULL|  4000| NULL|
+-----+----+----------+------+-----+