In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('SQL').getOrCreate()

In [4]:
data = [
(101 ,'John'  ,'A',None),
(102 ,'Dan'   ,'A',101 ),
(103 ,'James' ,'A',101 ),
(104 ,'Amy'   ,'A',101 ),
(105 ,'Anne'  ,'A',101 ),
(106 ,'Ron'   ,'B',101 )
]
col = ['id', 'name', 'department', 'managerId']

In [5]:
DataFrame = spark.createDataFrame(data,col)

In [17]:
# DataFrame.show()

a = DataFrame.alias('a')
b = DataFrame.alias('b')
a.show()

+---+-----+----------+---------+
| id| name|department|managerId|
+---+-----+----------+---------+
|101| John|         A|     NULL|
|102|  Dan|         A|      101|
|103|James|         A|      101|
|104|  Amy|         A|      101|
|105| Anne|         A|      101|
|106|  Ron|         B|      101|
+---+-----+----------+---------+

In [22]:
from pyspark.sql.functions import col
joinedDF = DataFrame.alias("a").join(DataFrame.alias("b"), \
            col("a.id") == col("b.managerId"), 'left') \
            .select(
                col("a.id"),col("a.name"),col("a.department"),col("a.managerId")
            ) \
            .orderBy(col("a.id"))

joinedDF.show()

+---+-----+----------+---------+
| id| name|department|managerId|
+---+-----+----------+---------+
|101| John|         A|     NULL|
|101| John|         A|     NULL|
|101| John|         A|     NULL|
|101| John|         A|     NULL|
|101| John|         A|     NULL|
|102|  Dan|         A|      101|
|103|James|         A|      101|
|104|  Amy|         A|      101|
|105| Anne|         A|      101|
|106|  Ron|         B|      101|
+---+-----+----------+---------+

In [23]:
groupedData = joinedDF.groupBy(col("id"),col("name")).count()

In [26]:
groupedData.filter(col("count") >= 5).select(col("name")).show()

+----+
|name|
+----+
|John|
+----+